.login-box{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    padding:40px;
    transform: translate(-50%,-50%);
    background-color: rgb(221, 253, 242);
    box-sizing: border-box;
    border-radius: 5px;

}