.login-box{
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    padding:70px;
    transform: translate(-50%,-50%);
    background-color: rgb(221, 253, 242);
    box-sizing: border-box;
    border-radius: 5px;
    flex:auto;
    text-align-last: center;
}
.asignatura{
    font-weight: bold;
}
.aprobado{
    font-weight: bold;
    color:rgb(37, 219, 1);
}
.suspendido{
    font-weight: bold;
    color:rgb(202, 0, 0)
}
.aside{
    position: relative;
    flex: auto;
    float: right;
    margin: top -40px;
    width: fit-content ;
}
.section{
    position: relative;
    flex:auto;
    float:left;
    margin-top: auto;

}
.center{
    text-align: center;
    flex:auto;
    
}